
body{
    overflow-x: hidden;
}

.bg
.navbar{
    flex-direction: row;
    justify-content: center;
}

.jumbotron{
    display:flex;
    justify-content: center;
}

@media (min-width: 768px){
    .dropdown-menu{
        display: none;
    }    
}

.dropdown:hover > .dropdown-menu{
    display:block;
    margin-top: 0;
}
